@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

h1 {
  display: flex;
  width: 300px;
  margin: 0 auto 8px;
  font-family: "Oswald", serif;
  text-align: center;
  font-weight: normal;
  font-size: 46px;
  line-height: 64px;
}

.site-header {
  display: flex;
  min-width: 550px;
  height: 49px;
  color: #ffffff;
  background-color: #000000;
}

.content p {
    height: 250px;
    background-image: url(img/bricks.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-family: "Oswald", serif;
    font-size: 40px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
}

.site-footer {
    min-width: 550px;
    background-color: #000;
    color: #ffffff;
}

.site-footer .container {
  text-align: center;
  font-size: 20px;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

@media(max-width: 500px) {
    .mainBlockBody {
        font-size: 24px;
    }
}
